# 추천시스템
- 하나의 콘텐츠를 선택했을 때, 선택된 컨텐츠와 연관된 추천 컨텐츠를 제공하는 서비스 시스템
- 대표적으로 사용하는 데이터
    1. 사용자가 선택한 컨텐츠
    2. 사용자가 실제 구매와 연관된 액션을 했는가 여부
    3. 사용자가 선택한 컨텐츠에 내린 평가 데이터
    4. 사용자가 스스로 작성한 자신의 취향
    5. 사용자가 무엇을 클릭했는지...

## 1. 추천시스템 유형
- 협업 필터링 vs 콘텐츠 기반 필터링
    1. 협업 필터링: 최근접이웃 협업 vs 잠재요인 협업
        + 협업필터링이란, 사용자-아이템 평점 매트릭스와 같은 축적된 사용자 행동 데이터 기반으로 사용자가 아직 평가하지 않은 아이템을 '예측 평가'하는 것
        + 최근접 이웃 협업, 잠재요인 협업 모두 사용자-평점 매트릭스만으로 사용자에게 추천함
        + index는 user, columns는 item1, item2 등으로 구성되어야함. pandas.pivot_table() 이용해 변경해야함
        + 예시. 영화 {범죄도시1: 평점 8.5점, 범죄도시2: 평점 9점, 범죄도시3: 평점 8점} => 범죄도시 4: 평점 8.75로 예측
        + 최근접이웃 협업: 사용자 기반 vs 아이템 기반
            * 사용자 기반: 당신과 비슷한 고객들이 다음 상품도 구매했습니다.
            * 아이템 기반: 이 상품을 선택한 다른 고개들은 다음 상품도 구매했습니다.
        + 잠재요인 협업: 사용자-아이템 평점 매트리스 속에 숨어 있는 잠재 요인을 추출해 추천하는 기법
    2. 콘텐츠 기반 필터링: 사용자가 특정 아이템을 매우 선호하는 경우, 그 아이템과 비슷한 콘텐츠를 가진 다른 장르 아이템 추천

### 잠재요인 행렬 분해 코드
- SGD를 이용해 행렬분해를 수행
- 분해하려는 행렬 R
- P와 Q로 분해 후 다시 P와 Q.T의 내적으로 예측행렬을 만듬

In [5]:
import numpy as np

# 원본 행렬 R 생성, 분해 행렬 P와 Q 초기화, 잠재 요인 차원 K는 3으로 설정
R = np.array([[4, np.NaN, np.NaN, 2, np.NaN],
              [np.NaN, 5, np.NaN, 3, 1],
              [np.NaN, np.NaN, 3, 4, 4],
              [5, 2, 1, 2, np.NaN]])

num_users, num_items = R.shape
K=3

# P와 Q 행렬의 크기를 지정하고 정규분포를 가진 임의의 값으로 입력
np.random.seed(1)
P = np.random.normal(scale=1./K, size=(num_users, K))
Q = np.random.normal(scale=1./K, size=(num_items, K))

In [6]:
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
    error = 0
    # 두 개의 분해된 행렬 P와 Q.T의 내적으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P, Q.T)

    # 실제 R 행렬에서 Null이 아닌 값의 위치 인덱스 추출해 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_index = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_index = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_index, y_non_zero_index]
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_index, y_non_zero_index]
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)

    return rmse

In [7]:
# R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트에 저장
non_zeros = [(i, j , R[i, j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0]

steps = 1000
lr = 0.01
r_lambda = 0.01

# SGD 기법으로 P와 Q 매트릭스를 계속 업데이트
for step in range(steps):
    for i, j, r in non_zeros:
        # 실제 값과 예측 값의 차이인 오류 값 구하기
        eij = r - np.dot(P[i, :], Q[j, :].T)
        # Regularlization을 반영한 SGD 업데이트 공식 적용
        P[i, :] = P[i, :] + lr*(eij*Q[j, :] - r_lambda*P[i, :])
        Q[j, :] = Q[j, :] + lr*(eij*P[i, :] - r_lambda*Q[j, :])
        rmse = get_rmse(R, P, Q, non_zeros)
        if step % 50 == 0:
            print(f"[행렬분해 중] iteration step: {step}, rmse: {rmse}")

[행렬분해 중] iteration step: 0, rmse: 3.261355059488935
[행렬분해 중] iteration step: 0, rmse: 3.26040057174686
[행렬분해 중] iteration step: 0, rmse: 3.253984404542389
[행렬분해 중] iteration step: 0, rmse: 3.2521583839863624
[행렬분해 중] iteration step: 0, rmse: 3.252335303789125
[행렬분해 중] iteration step: 0, rmse: 3.251072196430487
[행렬분해 중] iteration step: 0, rmse: 3.2492449982564864
[행렬분해 중] iteration step: 0, rmse: 3.247416477570409
[행렬분해 중] iteration step: 0, rmse: 3.241926055455223
[행렬분해 중] iteration step: 0, rmse: 3.2400454107613084
[행렬분해 중] iteration step: 0, rmse: 3.240166740749792
[행렬분해 중] iteration step: 0, rmse: 3.2388050277987723
[행렬분해 중] iteration step: 50, rmse: 0.5003190892212749
[행렬분해 중] iteration step: 50, rmse: 0.5001616291326989
[행렬분해 중] iteration step: 50, rmse: 0.4989960120257809
[행렬분해 중] iteration step: 50, rmse: 0.498848345014583
[행렬분해 중] iteration step: 50, rmse: 0.4989518925663175
[행렬분해 중] iteration step: 50, rmse: 0.4983323683009099
[행렬분해 중] iteration step: 50, rmse: 0.4984148489378701
[행렬분해 중] iteration step: 50, rmse: 0.49792599580240876
[행렬분해 중] iteration step: 50, rmse: 0.4900605568692785
[행렬분해 중] iteration step: 50, rmse: 0.4890370238665434
[행렬분해 중] iteration step: 50, rmse: 0.48869176023997846
[행렬분해 중] iteration step: 50, rmse: 0.4876723101369647
[행렬분해 중] iteration step: 100, rmse: 0.15911521988578556
[행렬분해 중] iteration step: 100, rmse: 0.15880916178010931
[행렬분해 중] iteration step: 100, rmse: 0.15874092217089011
[행렬분해 중] iteration step: 100, rmse: 0.15828569528425077
[행렬분해 중] iteration step: 100, rmse: 0.15830809482168753
[행렬분해 중] iteration step: 100, rmse: 0.15828832993767397
[행렬분해 중] iteration step: 100, rmse: 0.15787486893092847
[행렬분해 중] iteration step: 100, rmse: 0.15792073606567075
[행렬분해 중] iteration step: 100, rmse: 0.15725245215457076
[행렬분해 중] iteration step: 100, rmse: 0.15710664164665206
[행렬분해 중] iteration step: 100, rmse: 0.1569025214419
[행렬분해 중] iteration step: 100, rmse: 0.15643403848192458
[행렬분해 중] iteration step: 150, rmse: 0.07546004875264456
[행렬분해 중] iteration step: 150, rmse: 0.07544589133447119
[행렬분해 중] iteration step: 150, rmse: 0.07543234329653034
[행렬분해 중] iteration step: 150, rmse: 0.07514800672233916
[행렬분해 중] iteration step: 150, rmse: 0.07518867696418184
[행렬분해 중] iteration step: 150, rmse: 0.07522889509938421
[행렬분해 중] iteration step: 150, rmse: 0.0748931886446927
[행렬분해 중] iteration step: 150, rmse: 0.07493400425933266
[행렬분해 중] iteration step: 150, rmse: 0.07462695506527875
[행렬분해 중] iteration step: 150, rmse: 0.07464332131959682
[행렬분해 중] iteration step: 150, rmse: 0.07464441641563421
[행렬분해 중] iteration step: 150, rmse: 0.07455141311978064
[행렬분해 중] iteration step: 200, rmse: 0.0436101657943908
[행렬분해 중] iteration step: 200, rmse: 0.043709130689530334
[행렬분해 중] iteration step: 200, rmse: 0.04369072102767999
[행렬분해 중] iteration step: 200, rmse: 0.04347554983227157
[행렬분해 중] iteration step: 200, rmse: 0.04353130925373599
[행렬분해 중] iteration step: 200, rmse: 0.04359240037575308
[행렬분해 중] iteration step: 200, rmse: 0.04329647906053857
[행렬분해 중] iteration step: 200, rmse: 0.04332057192123641
[행렬분해 중] iteration step: 200, rmse: 0.043104482945025314
[행렬분해 중] iteration step: 200, rmse: 0.043135502866585615
[행렬분해 중] iteration step: 200, rmse: 0.04313786864806276
[행렬분해 중] iteration step: 200, rmse: 0.043252267985793146
[행렬분해 중] iteration step: 250, rmse: 0.0293951831856098
[행렬분해 중] iteration step: 250, rmse: 0.029544029484371757
[행렬분해 중] iteration step: 250, rmse: 0.029501874367581973
[행렬분해 중] iteration step: 250, rmse: 0.029329609713572624
[행렬분해 중] iteration step: 250, rmse: 0.029402118073276706
[행렬분해 중] iteration step: 250, rmse: 0.029467205684175147
[행렬분해 중] iteration step: 250, rmse: 0.029189294191791382
[행렬분해 중] iteration step: 250, rmse: 0.029198757426747685
[행렬분해 중] iteration step: 250, rmse: 0.02899574226000236
[행렬분해 중] iteration step: 250, rmse: 0.029044154450545513
[행렬분해 중] iteration step: 250, rmse: 0.029049587101179625
[행렬분해 중] iteration step: 250, rmse: 0.029248328780879226
[행렬분해 중] iteration step: 300, rmse: 0.02267871523374936
[행렬분해 중] iteration step: 300, rmse: 0.022844873864300484
[행렬분해 중] iteration step: 300, rmse: 0.02277356665032507
[행렬분해 중] iteration step: 300, rmse: 0.022632345073225105
[행렬분해 중] iteration step: 300, rmse: 0.022720062551531153
[행렬분해 중] iteration step: 300, rmse: 0.022778917442558343
[행렬분해 중] iteration step: 300, rmse: 0.02251624306238127
[행렬분해 중] iteration step: 300, rmse: 0.022515508246519742
[행렬분해 중] iteration step: 300, rmse: 0.02229491665298547
[행렬분해 중] iteration step: 300, rmse: 0.022367287171783122
[행렬분해 중] iteration step: 300, rmse: 0.02239230348065316
[행렬분해 중] iteration step: 300, rmse: 0.022621116143829507
[행렬분해 중] iteration step: 350, rmse: 0.019516973680183958
[행렬분해 중] iteration step: 350, rmse: 0.019681605297160662
[행렬분해 중] iteration step: 350, rmse: 0.019585635379668606
[행렬분해 중] iteration step: 350, rmse: 0.019467165455250065
[행렬분해 중] iteration step: 350, rmse: 0.019565686789792668
[행렬분해 중] iteration step: 350, rmse: 0.019614020075870636
[행렬분해 중] iteration step: 350, rmse: 0.019368393329296515
[행렬분해 중] iteration step: 350, rmse: 0.019361014872335155
[행렬분해 중] iteration step: 350, rmse: 0.019116038405167703
[행렬분해 중] iteration step: 350, rmse: 0.019209815479975148
[행렬분해 중] iteration step: 350, rmse: 0.019255623979392383
[행렬분해 중] iteration step: 350, rmse: 0.019493636196525232
[행렬분해 중] iteration step: 400, rmse: 0.01803666559195474
[행렬분해 중] iteration step: 400, rmse: 0.018191331063344373
[행렬분해 중] iteration step: 400, rmse: 0.018078504374883713
[행렬분해 중] iteration step: 400, rmse: 0.01797554592952722
[행렬분해 중] iteration step: 400, rmse: 0.018080509676855996
[행렬분해 중] iteration step: 400, rmse: 0.018118882879536797
[행렬분해 중] iteration step: 400, rmse: 0.017889686482489495
[행렬분해 중] iteration step: 400, rmse: 0.017878066671070485
[행렬분해 중] iteration step: 400, rmse: 0.017612244339685706
[행렬분해 중] iteration step: 400, rmse: 0.01772096734904676
[행렬분해 중] iteration step: 400, rmse: 0.017781796456597727
[행렬분해 중] iteration step: 400, rmse: 0.018022719092132773
[행렬분해 중] iteration step: 450, rmse: 0.017334045429542207
[행렬분해 중] iteration step: 450, rmse: 0.017476834937591626
[행렬분해 중] iteration step: 450, rmse: 0.017353619075108358
[행렬분해 중] iteration step: 450, rmse: 0.017260553985290757
[행렬분해 중] iteration step: 450, rmse: 0.017369093850106612
[행렬분해 중] iteration step: 450, rmse: 0.017399933857257795
[행렬분해 중] iteration step: 450, rmse: 0.0171843175786375
[행렬분해 중] iteration step: 450, rmse: 0.0171699064962513
[행렬분해 중] iteration step: 450, rmse: 0.016888615795792955
[행렬분해 중] iteration step: 450, rmse: 0.01700663815408313
[행렬분해 중] iteration step: 450, rmse: 0.017076792508661655
[행렬분해 중] iteration step: 450, rmse: 0.01731968595344283
[행렬분해 중] iteration step: 500, rmse: 0.01699160924805319
[행렬분해 중] iteration step: 500, rmse: 0.0171234089157865
[행렬분해 중] iteration step: 500, rmse: 0.01699398405641072
[행렬분해 중] iteration step: 500, rmse: 0.016907070492030378
[행렬분해 중] iteration step: 500, rmse: 0.017017605772217764
[행렬분해 중] iteration step: 500, rmse: 0.01704327755670073
[행렬분해 중] iteration step: 500, rmse: 0.016838031459003783
[행렬분해 중] iteration step: 500, rmse: 0.016821674312725587
[행렬분해 중] iteration step: 500, rmse: 0.01652928126442942
[행렬분해 중] iteration step: 500, rmse: 0.016652888795198606
[행렬분해 중] iteration step: 500, rmse: 0.016728541275491084
[행렬분해 중] iteration step: 500, rmse: 0.016973657887570985
[행렬분해 중] iteration step: 550, rmse: 0.016818969716266428
[행렬분해 중] iteration step: 550, rmse: 0.01694144559744487
[행렬분해 중] iteration step: 550, rmse: 0.016808259298884326
[행렬분해 중] iteration step: 550, rmse: 0.016725234339747642
[행렬분해 중] iteration step: 550, rmse: 0.016836938491435156
[행렬분해 중] iteration step: 550, rmse: 0.016859187050621244
[행렬분해 중] iteration step: 550, rmse: 0.016661644526141703
[행렬분해 중] iteration step: 550, rmse: 0.016643851020065135
[행렬분해 중] iteration step: 550, rmse: 0.016343446075494296
[행렬분해 중] iteration step: 550, rmse: 0.016470440821826447
[행렬분해 중] iteration step: 550, rmse: 0.016549323314269518
[행렬분해 중] iteration step: 550, rmse: 0.01679680459589558
[행렬분해 중] iteration step: 600, rmse: 0.016727439717439153
[행렬분해 중] iteration step: 600, rmse: 0.016842259158977278
[행렬분해 중] iteration step: 600, rmse: 0.01670668792446753
[행렬분해 중] iteration step: 600, rmse: 0.016626255644609494
[행렬분해 중] iteration step: 600, rmse: 0.016738696939262863
[행렬분해 중] iteration step: 600, rmse: 0.01675868241598574
[행렬분해 중] iteration step: 600, rmse: 0.01656685720005292
[행렬분해 중] iteration step: 600, rmse: 0.016547954461110775
[행렬분해 중] iteration step: 600, rmse: 0.01624166876076104
[행렬분해 중] iteration step: 600, rmse: 0.01637080005613797
[행렬분해 중] iteration step: 600, rmse: 0.0164516272092571
[행렬분해 중] iteration step: 600, rmse: 0.016701322901884634
[행렬분해 중] iteration step: 650, rmse: 0.016674291334806118
[행렬분해 중] iteration step: 650, rmse: 0.016782895588884888
[행렬분해 중] iteration step: 650, rmse: 0.01664569809164759
[행렬분해 중] iteration step: 650, rmse: 0.01656714079916211
[행렬분해 중] iteration step: 650, rmse: 0.016680091021598505
[행렬분해 중] iteration step: 650, rmse: 0.016698554271430695
[행렬분해 중] iteration step: 650, rmse: 0.01651101773242772
[행렬분해 중] iteration step: 650, rmse: 0.016491228766905206
[행렬분해 중] iteration step: 650, rmse: 0.016180544197961624
[행렬분해 중] iteration step: 650, rmse: 0.01631111150707523
[행렬분해 중] iteration step: 650, rmse: 0.01639316772050073
[행렬분해 중] iteration step: 650, rmse: 0.016644736912476574
[행렬분해 중] iteration step: 700, rmse: 0.016638362442608513
[행렬분해 중] iteration step: 700, rmse: 0.0167419367433236
[행렬분해 중] iteration step: 700, rmse: 0.016603524189001635
[행렬분해 중] iteration step: 700, rmse: 0.016526454393300506
[행렬분해 중] iteration step: 700, rmse: 0.016639792083379536
[행렬분해 중] iteration step: 700, rmse: 0.016657201345297357
[행렬분해 중] iteration step: 700, rmse: 0.01647292838164141
[행렬분해 중] iteration step: 700, rmse: 0.01645241257047359
[행렬분해 중] iteration step: 700, rmse: 0.016138379086448086
[행렬분해 중] iteration step: 700, rmse: 0.016269993747904974
[행렬분해 중] iteration step: 700, rmse: 0.01635288508504548
[행렬분해 중] iteration step: 700, rmse: 0.016605910068210012
[행렬분해 중] iteration step: 750, rmse: 0.01660906046895513
[행렬분해 중] iteration step: 750, rmse: 0.01670856296909822
[행렬분해 중] iteration step: 750, rmse: 0.016569153528341703
[행렬분해 중] iteration step: 750, rmse: 0.016493367054249884
[행렬분해 중] iteration step: 750, rmse: 0.01660702796687089
[행렬분해 중] iteration step: 750, rmse: 0.016623681027525393
[행렬분해 중] iteration step: 750, rmse: 0.01644192727172457
[행렬분해 중] iteration step: 750, rmse: 0.016420802465343706
[행렬분해 중] iteration step: 750, rmse: 0.016104179990850825
[행렬분해 중] iteration step: 750, rmse: 0.016236628551952983
[행렬분해 중] iteration step: 750, rmse: 0.01632014100929194
[행렬분해 중] iteration step: 750, rmse: 0.01657420047570488
[행렬분해 중] iteration step: 800, rmse: 0.016581161561119988
[행렬분해 중] iteration step: 800, rmse: 0.016677363428437137
[행렬분해 중] iteration step: 800, rmse: 0.016537069269613805
[행렬분해 중] iteration step: 800, rmse: 0.01646246137777885
[행렬분해 중] iteration step: 800, rmse: 0.016576412350487686
[행렬분해 중] iteration step: 800, rmse: 0.016592501800249713
[행렬분해 중] iteration step: 800, rmse: 0.016412717409428523
[행렬분해 중] iteration step: 800, rmse: 0.016391072859801684
[행렬분해 중] iteration step: 800, rmse: 0.016072423077368784
[행렬분해 중] iteration step: 800, rmse: 0.016205589842522038
[행렬분해 중] iteration step: 800, rmse: 0.016289609430091508
[행렬분해 중] iteration step: 800, rmse: 0.01654431582921612
[행렬분해 중] iteration step: 850, rmse: 0.016552228984315465
[행렬분해 중] iteration step: 850, rmse: 0.016645751215475714
[행렬분해 중] iteration step: 850, rmse: 0.016504627328190483
[행렬분해 중] iteration step: 850, rmse: 0.01643114580174884
[행렬분해 중] iteration step: 850, rmse: 0.016545370571042384
[행렬분해 중] iteration step: 850, rmse: 0.016561024020104998
[행렬분해 중] iteration step: 850, rmse: 0.016382795627019667
[행렬분해 중] iteration step: 850, rmse: 0.01636070007608577
[행렬분해 중] iteration step: 850, rmse: 0.016040446344395495
[행렬분해 중] iteration step: 850, rmse: 0.016174269580681248
[행렬분해 중] iteration step: 850, rmse: 0.01625873735464131
[행렬분해 중] iteration step: 850, rmse: 0.016513751774735037
[행렬분해 중] iteration step: 900, rmse: 0.01652128043377805
[행렬분해 중] iteration step: 900, rmse: 0.016612624200841565
[행렬분해 중] iteration step: 900, rmse: 0.016470695682262133
[행렬분해 중] iteration step: 900, rmse: 0.016398314989165507
[행렬분해 중] iteration step: 900, rmse: 0.01651280633307365
[행렬분해 중] iteration step: 900, rmse: 0.016528110873501898
[행렬분해 중] iteration step: 900, rmse: 0.016351122754892623
[행렬분해 중] iteration step: 900, rmse: 0.01632862978384231
[행렬분해 중] iteration step: 900, rmse: 0.016007096878603345
[행렬분해 중] iteration step: 900, rmse: 0.0161415440715142
[행렬분해 중] iteration step: 900, rmse: 0.01622643084399404
[행렬분해 중] iteration step: 900, rmse: 0.01648146573819507
[행렬분해 중] iteration step: 950, rmse: 0.016488081335748327
[행렬분해 중] iteration step: 950, rmse: 0.016577652134974738
[행렬분해 중] iteration step: 950, rmse: 0.016434929334981776
[행렬분해 중] iteration step: 950, rmse: 0.016363636620406127
[행렬분해 중] iteration step: 950, rmse: 0.016478391959548654
[행렬분해 중] iteration step: 950, rmse: 0.01649340903060661
[행렬분해 중] iteration step: 950, rmse: 0.016317416842511017
[행렬분해 중] iteration step: 950, rmse: 0.01629456857175322
[행렬분해 중] iteration step: 950, rmse: 0.015972009545965202
[행렬분해 중] iteration step: 950, rmse: 0.01610706345879575
[행렬분해 중] iteration step: 950, rmse: 0.016192355609214667
[행렬분해 중] iteration step: 950, rmse: 0.01644717168347911

In [8]:
# 분해된 P와 Q 함수를 P*Q.T로 예측행렬 만들기
pred_matrix = np.dot(P,Q.T)
print('예측행렬:\n', np.round(pred_matrix, 3))

예측행렬:
 [[3.991 0.897 1.306 2.002 1.663]
 [6.696 4.978 0.979 2.981 1.003]
 [6.677 0.391 2.987 3.977 3.986]
 [4.968 2.005 1.006 2.017 1.14 ]]

### TEST - 콘텐츠 기반 필터링 실습
- data from TMDB 5000
- https://www.kaggle.com/tmdb/tmdb-movie-metadata

In [53]:
# library
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

movies = pd.read_csv("./data/tmdb_5000_movies.csv")
movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [54]:
# 콘텐츠 기반 필터링 추천에 사용할 칼럼만 추출해 새로운 데이터프레임 생성
cols = ['id', 'title', 'genres', 'vote_average', 'vote_count', 'popularity', 'keywords', 'overview']
movie_df = movies[cols]
movie_df

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",7.2,11800,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",6.9,4500,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.3,4466,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",7.6,9106,112.312950,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.1,2124,43.926995,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca..."
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",6.6,238,14.269792,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi just wants to play his guitar and ...
4799,72766,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",5.9,5,0.642552,[],A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",7.0,6,1.444476,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,Shanghai Calling,[],5.7,7,0.857008,[],When ambitious New York attorney Sam is sent t...
4802,25975,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]",6.3,16,1.929883,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",Ever since the second grade when he first saw ...

In [55]:
movie_df['genres'][0]['name']

TypeError: string indices must be integers

In [56]:
# list 내 dict를 반복해 읽을 수 있게 만들어주는 함수
from ast import literal_eval
movie_df['genres'] = movie_df['genres'].apply(literal_eval)
movie_df['keywords'] = movie_df['keywords'].apply(literal_eval)
movie_df[['genres', 'keywords']]

,genres,keywords
0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 1463, 'name': 'culture clash'}, {'id':..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 470, 'name': 'spy'}, {'id': 818, 'name..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'id': 849, 'name': 'dc comics'}, {'id': 853,..."
4,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
...,...,...
4798,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'id': 5616, 'name': 'united states–mexico ba..."
4799,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",[]
4800,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 248, 'name': 'date'}, {'id': 699, 'nam..."
4801,[],[]
4802,"[{'id': 99, 'name': 'Documentary'}]","[{'id': 1523, 'name': 'obsession'}, {'id': 224..."

In [57]:
# genres, keyword가 keyword: value 형태의 data로 구성되어있음. genres는 genres만, keyword는 keyworkd만 입력하도록 변경
movie_df['genres'] = movie_df['genres'].apply(lambda x : [y['name'] for  y in x])
movie_df['keywords'] = movie_df['keywords'].apply(lambda x : [y['name'] for  y in x])
movie_df[['genres', 'keywords']]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i..."
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel..."
...,...,...
4798,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, pap..."
4799,"[Comedy, Romance]",[]
4800,"[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investi..."
4801,[],[]
4802,[Documentary],"[obsession, camcorder, crush, dream girl]"

In [58]:
movie_df

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",7.2,11800,150.437577,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",6.9,4500,139.082615,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[Action, Adventure, Crime]",6.3,4466,107.376788,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",7.6,9106,112.312950,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...
4,49529,John Carter,"[Action, Adventure, Science Fiction]",6.1,2124,43.926995,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca..."
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[Action, Crime, Thriller]",6.6,238,14.269792,"[united states–mexico barrier, legs, arms, pap...",El Mariachi just wants to play his guitar and ...
4799,72766,Newlyweds,"[Comedy, Romance]",5.9,5,0.642552,[],A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]",7.0,6,1.444476,"[date, love at first sight, narration, investi...","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,Shanghai Calling,[],5.7,7,0.857008,[],When ambitious New York attorney Sam is sent t...
4802,25975,My Date with Drew,[Documentary],6.3,16,1.929883,"[obsession, camcorder, crush, dream girl]",Ever since the second grade when he first saw ...

- CountVectorizer는 276개의 개별 단어 피처로 구성된 피처 벡터 행렬을 만들어주는 것

In [59]:
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer 적용 위해 공백문자로 word 단위가 구분되는 문자열로 변환
movie_df['genres_literal'] = movie_df['genres'].apply(lambda x: (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movie_df['genres_literal'])

movie_df['genres_literal']

0       Action Adventure Fantasy Science Fiction
1                       Adventure Fantasy Action
2                         Action Adventure Crime
3                    Action Crime Drama Thriller
4               Action Adventure Science Fiction
                          ...
4798                       Action Crime Thriller
4799                              Comedy Romance
4800               Comedy Drama Romance TV Movie
4801
4802                                 Documentary
Name: genres_literal, Length: 4803, dtype: object

- cosine_similarity()는 코사인 유사도 행렬을 만들어줌
- 상관관계 행렬과 유사한 형태를 보임

In [60]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:1])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]]

- 유사도가 높은 인덱스 순서로 sort!

In [61]:
genre_sim_sorted_index = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_index)

[[   0 3494  813 ... 3038 3037 2401]
 [ 262    1  129 ... 3069 3067 2401]
 [   2 1740 1542 ... 3000 2999 2401]
 ...
 [4800 3809 1895 ... 2229 2230    0]
 [4802 1594 1596 ... 3204 3205    0]
 [4802 4710 4521 ... 3140 3141    0]]

### 장르 콘텐츠 필터링을 이용한 영화 추천
- 함수명: find_sim_movie()
- 인자: movie_df, 레코드별 장르 코사인 유사도 인덱스 가지고 있는 genre_sim_sorted_index, 영화 제목, 추천할 영화 건수
- 결과: 추천영화 정보를 가진 DataFrame 반환

In [62]:
def find_sim_movie(df, sorted_index, title_name, top_n=10):
    # 인자로 입력된 movie_df에서 title 칼럼이 입력된 title_name 값인 DataFrame 추출
    title_movie = df[df['title'] == title_name]

    # title_named을 가진 DataFrame의 Index 객체를 ndaaray로 반환하고
    # sorted_index 인자로 입력된 genre_sim_sorted_index 객체에서 유사도 순으로 top_n개의 index 추출
    title_index = title_movie.index.values
    similar_indexes = sorted_index[title_index, :(top_n)]

    # 추출된 top_n index 출력. top_n index는 2차원 데이터임
    # dataframe 에서 index로 사용하기 위해서 1차원 array로 변경
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)

    return df.iloc[similar_indexes]

In [63]:
similar_movies = find_sim_movie(movie_df, genre_sim_sorted_index, 'The Godfather', 10)
similar_movies[['title', 'vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1