# 1. MongoDB

- SQL과 차이 : MongoDB는 NoSQL
    + SQL : 정형화된 데이터(정해진 규격이 있는 데이터 형태), 관계형DB
    + NoSQL : Not Only SQL, SQL 말고 다른 것도 사용하자 // Non-Relational Operational Database SQL

- NoSQL의 장점 :
    + 클라우드 컴퓨터 환경에 적합하다.
    + 유연한 데이터 모델이다.
    + Big-Data 처리에 효과적이다.

- 데이터를 저장, 관리하는 방식
    + Document DataBase
    + JSON type : [{key:value}]로 

- MongoDB 설치
    + 터미널
    + brew tap mongodb/brew
    + brew install mongodb-community

- MongoDB 시작, 끝, 접속 명령어
    + brew services start mongodb-community
    + brew services stop mongodb-community
    + localhost:27017

- MongoDB CLI 기본 명령어
    + MongoDB 서버 및 클라이언트 실행 :
        * mongod 서버프로그램 실행 : mongod // mongod --dpath "경로"
        * mongod 클라이언트 실행 : 
    + 데이터베이스 생성 : use 데이터베이스명
    + 데이터베이스 확인 : show dbs;
    + 데이터베이스 선택 : use local;
        * use 시 db가 없으면? 만들어진다. use test;
        * use test; 후에 show dbs; 하면 목록에 없는데? 실제로 작업을 하면 만들어져! 매우 합리적이다.
    + 컬렉션 생성 : db.createCollection('컬렉션명', '옵션');
        * db.createCollection('이름', {capped:<boolean>, autoIndexId:<boolean>, size:<number>, max:<number>})
            capped : True(기본값 False)로 설정하면 capped collection이 활성화된다. size 항상 지정해줘야하며 capped collection이란 고정된 크기를 가진 컬렉션
            // 메모리가 꽉 찰 때까지 저장할 수 있게 해주는 옵션
            autoIndexId : True(기본값 False)로 설정하면 _id 필드에 index를 자동으로 생성해 1,2,3,4,5 들어가게 해준다.
            // _id 필드는 SQL primary key와 비슷한 개념으로 이해하면 된다.
            size : 해당 컬렉션의 최대 크기를 지정(byte)
            max : 컬렉션에 추가할 수 있는 최대 도큐먼트(로우) 개수 지정

        * 실습 :
            db.createCollection('books') -> "ok" : 1
            db.books.insert({"title":"python정복"});
            db.books.insert({"title":"mongodb정복", "author":"홍길동"});
            db.books.find();
        
        * 실습 2 :
            use test;
            db.hobby.insert({"name":"Michael", "hobby":"Basketball"});
            // 안만들었는데? 괜찮아. 만들면서 바로 값을 지정해줘. 그러니까 사실 따로 만들 필요 없어!
            db.books.drop();
            db.hobby.drop();

    + 컬렉션 확인 : show collections;
    + 컬렉션 삭제 : db.컬렉션명.drop();
    + 데이터베이스 삭제 : db.dropDatabase()


    + Document 관련 명령어 : insert(), remove()
        * 실습 :
        use test;
        db.books.insert({"title":"python정복"});
        db.books.insert({"title":"mongodb정복", "author":"홍길동"});
        // 여러 개의 도큐먼트를 한번에 입력할 수 있습니다.
        db.books.insert([{"title":"축구정복", "author":"이다솔", "price":13000}, {"title":"개그정복", "author":"황상연", "price":19000}, {"title":"외국어정복", "author":"고병욱", "price":20000}]);    
        // 여러 개의 value를 입력할 수 있습니다.
        db.books.insert({"title":"회계정복", "author":"최대수", "seller":["교보문고", "영풍문고"]})
        // 삭제
        db.books.remove({"title":"회계정복"})
        db.books.remove({"_id": ObjectId("61d6696c82c20148cfdeffde")});


    + schema 설계
        * 예를 들어 블로그를 위한 db설계를 하려고 한다.
	        - 게시글(post)에는 작성자 이름(username), 제목(title), 내용(content), 작성시간(writetime)을 가진다.
	        - 각 게시글에는 0개 이상의 태그를 가질 수 있다.(tag)
	        - 게시글에는 댓글을 달 수 있다. 댓글(comment)은 작성자 이름(username), 내용(content), 작성시간(writetime)을 가진다.

        {
		_id : post_id,
		title : post_title,
		content : post_content,
		username : post_username,
		writetime : post_writetime,
		
		tags : [tag1, tag2, tag3, ... ],

		comment : [
			{content : post_content, username : post_username, writetime : post_writetime},
			{content : post_content, username : post_username, writetime : post_writetime},
			...
			]
	}

    // 어떤 DB가 들어올지 알고 있을 땐 SQL이 더 나음. 위 게시판 사례도 실제론 관계형 DB가 더 적합함
    // 다만 어떻게 NoSQL로 스키마를 설계하는지 보여주기 위해 예를 든 것


    * 조회에 대한 내용
    https://docs.mongodb.com/manual/reference/operator/query/


    use test;
    db.articles.insert([
		{
			"title" : "article01",
			"content" : "content01",
			"writer" : "Tom",
			"name" : {"first" : "gil dong", "last" : "hong"},
			"language" : ["korean", "english", "french"],
			"likes" : 0,
			"comment" : []
		},
		{
			"title" : "article02",
			"content" : "content02",
			"writer" : "Alpha",
			"name" : {"first" : "j. k.", "last" : "tiger"},
			"language" : ["korean", "chinese"],
			"likes" : 23,
			"comment" : [{"name" : "Bravo", "message" : "Hey man!"}]
		},
		{
			"title" : "article03",
			"content" : "content03",
			"writer" : "Bravo",
			"likes" : 40,
			"comment" : [{"name" : "Charlie", "message" : "Hey man!"}, 
				{"name" : "Delta", "message" : "Hey man!"}]
		}
	])

    db.articles.find().pretty()

    * 비교 논리 연산자를 이용한 조회

        - writer가 tom인 document 조회
            + db.articles.find({"writer" : "Tom"}).pretty();
            + db.articles.find({'writer' : {$eq:'Tom'}}).pretty();
        - likes가 30 이하인 document 조회
            + db.articles.find({'likes' : {$lte:30}}).pretty();
                초과 : gt(greater than)
                이상 : gte(greater than equal)
                미만 : lt(less than)
                이하 : lte(less than equal)
        - writer가 "Alpha"이고 likes가 30보다 작은 document 조회(and 조건이 필요)
            + db.articles.find({$and : [{'writer' : {$eq:'Alpha'}}, {'likes' : {$lte:30}}]}).pretty();
        - likes가 10보다 크고 30보다 작은 document 조회(and 조건)
            + db.articles.find({$and : [{'likes' : {$gte:10}}, {'likes' : {$lte:30}}]}).pretty();
        - writer가 "Alpha"이거나 "Bravo"인 document 조회(and 조건이 필요)
            + db.articles.find({$or : [{'writer' : {$eq:'Alpha'}}, {'writer' : {$eq:'Bravo'}}]}).pretty();
            + db.articles.find({'writer' : {$in : ['Alpha', 'Bravo']}}).pretty();
                - in은 sql에서의 in과 같다. or와 =을 여러 값에 동시 적용하고 싶을 때 쓰면 된다.
        - writer가 "Bravo"이거나 likes가 10 미만인 document
            + db.articles.find({$or : [{'writer' : {$eq:'Bravo'}}, {'likes' : {$lt:10}}]}).pretty();
        - title이 "article01"과 같고 likes가 10 미만인 document
            + db.articles.find({$and : [{'title' : {$eq:'article01'}}, {'likes' : {$lt:10}}]}).pretty();
            + db.articles.find({'title' : {$eq:'article01'},'likes' : {$lt:10}}).pretty();

## 정규표현식을 이용한 조회
- $regex
    * title에서 01이란 문자열이 들어있는 document 조회
        + db.articles.find({'title' : {$regex : '01'}}).pretty();
        + db.articles.find({'title' : /01/}).pretty();
    * language에서 eng란 문자열이 들어있는 document 조회
        + db.articles.find({'language' : {$regex : 'eng'}}).pretty();
        + db.articles.find({'language' : /eng/}).pretty();
    * writer에서 alp란 문자열이 들어있는 document 조회(option으로 대소문자 구분없이 찾도록 하기)
        + db.articles.find({'writer' : {$regex : 'alp', $options : '$i'}}).pretty();
        + db.articles.find({'writer' : /alp/}).pretty();
    * title에서 article01, article02란 문자열이 들어있는 document 조회
        + db.articles.find({'title' : /article0[1-2]/}).pretty();
        + db.articles.find({'title' : {$regex : "article0[1-2]"}}).pretty();
        + db.articles.find({'title' : /article[0-9]/}).pretty();

## where를 이용해 javascript 언어와 결합
- where
    * comment에 값이 하나도 없는 document를 조회
        + db.articles.find({$where:"this.comment.length == 0"}).pretty();

## comment 안에 document가 내재되어있을 때 embedded documents 조회
- dd
    * comment 중 "charlie"가 쓴 댓글이 있는 document 조회
        + db.articles.find({"comment":{$elemMatch:{"name":"Charlie"}}}).pretty()

## Projection
- example
    * articles에서 title과 content만 조회
        + db.articles.find({}, {"_id":false, "title":true, "content":true}).pretty();
    * title이 03인 document에서 댓글을 하나만 보이도록 조회 : $slice
        + db.articles.find({"title":"article03"}, {"title":true, "comment":true}).pretty();
        + db.articles.find({"title":"article03"}, {"title":true, "comment": {$slice : 1}}).pretty();
        + db.articles.find({"title":"article03"}, {"title":true, "comment": {$elemMatch : {'name':'Delta'}}}).pretty();

## 수정 : update();

- 연습을 위한 데이터 :
	db.people.insert([
		{name:"Abet", age:19},
		{name:"Betty", age:20},
		{name:"Charlie", age:23, skills:["mongodb", "nodejs"]},
		{name:"David", age:23, score:20}
	])

	* abet의 나이를 20살 변경
		- db.people.update({"name":"Abet"},{$set:{"age":20}});
		- db.people.update({"name":"Abet"},{"age":19});
		- 아래 쿼리문은 "name"이 "Abet"인 값을 찾아서 "age":19로만 replace함. 따라서 기존의 이름 : abet 데이터와 age:20은 삭제하고 age:19만 만들어진다.
	
	* 특정 필드 삭제 : $unset
		- david의 score를 삭제
		- db.people.update({"name":"David"}, {$unset:{"score":1}})
	
	* 특정 필드 추가 : $set
		- db.people.update({"name":"David"}, {$set:{"score":20}});
		- update는 찾는 필드가 있으면 수정해주고 없으면 추가해준다.

	* 업데이트 하려는 document가 없을 때 insert를 할 수 있게 하는 방법
		- db.people.update({"name":"Elly"}, {"name":"Elly", "age":17}, {upsert:true});
	
	* 여러 document의 필드를 추가
		- age가 20보다 작거나 같은 document의 score를 10으로 수정
		- db.people.update({"age":{$lte: 20}}, {$set :{"score":10}});
		- DML(insert, update, delete)는 하나의 작업단위로 동시에 두개가 처리되지 않는다.
		- 원래대로 복원
		- db.people.update({"name":"Abet"}, {$unset : {"score":1}});
		- db.people.update({"age":{$lte:20}}, {$set : {"score":10}}, {multi:true})  ****** 결론은 이거!!
	
	* 배열에 값을 추가 : $push
		- charlie documnet에서 skills 배열에 "python" 추가
		- db.people.update({"name":"Charlie"}, {$push : {"skills" : "python"}});
		- 여러 값을 동시에 추가하고자할 때
		- db.people.update({"name":"Charlie"}, {$push : {"skills" : ["c", "c++"]}});
			+ result : "skills" : [ "mongodb", "nodejs", "python", [ "c", "c++" ] ] // 리스트 안에 리스트를 넣어서 추가해버림
		- db.people.update({"name":"Charlie"}, {$push : {"skills" : {$each : ["R", "Keras"]}}});

	* 배열에 값 제거 : $pull
		- db.people.update({"name":"Charlie"}, {$pull : {"skills" : "python"}});
		- db.people.update({"name":"Charlie"}, {$pull : {"skills" : ["c", "c++"]}});
		- 연속적으로 삭제를 원할 땐? 추가할 땐 each, 제거할 땐 in
		- db.people.update({"name":"Charlie"}, {$pull : {"skills" : {$in : ["mongodb", "nodejs"]}}});

# 2. python과 mongo 연동
- ML에 설치
- pip install pymongo(conda install pymongo)

In [5]:
#import pymongo
from pymongo import MongoClient

In [6]:
#### 서버연결
conn = MongoClient("127.0.0.1", 27017) #ip주소와 port넘버를 넘겨줘야한다.
# ip주소엔 127.0.0.1이나 localhost로
# port번호는 mongod 접속 후 ctrl + F로 port 검색 후 그 값을 찾아서 입력해주면 된다.
# ip주소는 컴퓨터까지 / 컴퓨터 내 접속 위치는 port넘버로

print(conn)
conn.close()

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

In [8]:
#### DB에 연결
conn = MongoClient("127.0.0.1", 27017)
# dbname = conn.get_database("test")
# dbname = conn["test"]
# 만약 없는 데이터베이스라면? 만들어진다.
# dbname = conn.test2 -> test2 db가 만들어진다.
dbname = conn.test
print(dbname)
conn.close()

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [10]:
#### collections와 연결
conn = MongoClient("127.0.0.1", 27017)
dbname = conn.test

collect = dbname.articles #articles는 collection 중 하나
#collect = dbname["articles"]
print(collect)

conn.close()

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'articles')

## 1. CRUD

In [11]:
#### CRUD
conn = MongoClient("127.0.0.1", 27017)
dbname = conn.test
collect = dbname.people

In [13]:
#### db.people.find();
print(collect.count_documents({}))

for i in collect.find():
    print(i)

5
{'_id': ObjectId('61d7bcec76d21093b0ac880d'), 'name': 'Abet', 'age': 19.0, 'score': 10.0}
{'_id': ObjectId('61d7bcec76d21093b0ac880e'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('61d7bcec76d21093b0ac880f'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}
{'_id': ObjectId('61d7bcec76d21093b0ac8810'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('61db8751e298d9ad108b3ce6'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}

In [15]:
data = {"author" : "Mike", "text" : "my first blog post!", "tag" : ["mongodb", "python"]}
collect.insert_one(data)

In [16]:
for i in collect.find():
    print(i)

{'_id': ObjectId('61d7bcec76d21093b0ac880d'), 'name': 'Abet', 'age': 19.0, 'score': 10.0}
{'_id': ObjectId('61d7bcec76d21093b0ac880e'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('61d7bcec76d21093b0ac880f'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}
{'_id': ObjectId('61d7bcec76d21093b0ac8810'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('61db8751e298d9ad108b3ce6'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}
{'_id': ObjectId('61db9d5ac5ba8e6b82df6be9'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}

In [17]:
#### 하다보면 _id를 바로 꺼내서 써야할 때가 있는데, 지금처럼 반복문 써서 일일이 뽑아내는건 너무 불편하다.
#### 그럴 때 사용하는 거!

data = {"author":"Tom", "text":"my first blog post!", "tag":["mongodb", "python"]}
post_id = collect.insert_one(data).inserted_id

In [18]:
print(post_id)

61db9de9c5ba8e6b82df6bea

In [19]:
for i in collect.find():
    print(i)

{'_id': ObjectId('61d7bcec76d21093b0ac880d'), 'name': 'Abet', 'age': 19.0, 'score': 10.0}
{'_id': ObjectId('61d7bcec76d21093b0ac880e'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('61d7bcec76d21093b0ac880f'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}
{'_id': ObjectId('61d7bcec76d21093b0ac8810'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('61db8751e298d9ad108b3ce6'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}
{'_id': ObjectId('61db9d5ac5ba8e6b82df6be9'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('61db9de9c5ba8e6b82df6bea'), 'author': 'Tom', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}

In [20]:
conn.close()

In [21]:
#### 데이터 여러 개 입력하기

conn = MongoClient("127.0.0.1", 27017)
dbname = conn.test
collect = dbname.people

In [23]:
datas = [{"number" : i} for i  in range(10)]
print(datas)

[{'number': 0}, {'number': 1}, {'number': 2}, {'number': 3}, {'number': 4}, {'number': 5}, {'number': 6}, {'number': 7}, {'number': 8}, {'number': 9}]

In [24]:
# collect.insert_many(datas)
collect.insert_many({"number":i} for i in range(10))

In [26]:
for i in collect.find():
    print(i)

{'_id': ObjectId('61d7bcec76d21093b0ac880d'), 'name': 'Abet', 'age': 19.0, 'score': 10.0}
{'_id': ObjectId('61d7bcec76d21093b0ac880e'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('61d7bcec76d21093b0ac880f'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}
{'_id': ObjectId('61d7bcec76d21093b0ac8810'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('61db8751e298d9ad108b3ce6'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}
{'_id': ObjectId('61db9d5ac5ba8e6b82df6be9'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('61db9de9c5ba8e6b82df6bea'), 'author': 'Tom', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bec'), 'number': 0}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bed'), 'number': 1}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bee'), 'number': 2}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bef'), 'number': 3}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf0'), 'number': 4}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf1'), 'number': 5}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf2'), 'number': 6}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf3'), 'number': 7}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf4'), 'number': 8}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf5'), 'number': 9}

In [27]:
conn.close()

In [29]:
#### 조회

conn = MongoClient("127.0.0.1", 27017)
dbname = conn.test
collect = dbname.people

print(collect)

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'people')

In [30]:
# 전체조회
for i in collect.find():
    print(i)

{'_id': ObjectId('61d7bcec76d21093b0ac880d'), 'name': 'Abet', 'age': 19.0, 'score': 10.0}
{'_id': ObjectId('61d7bcec76d21093b0ac880e'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('61d7bcec76d21093b0ac880f'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}
{'_id': ObjectId('61d7bcec76d21093b0ac8810'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('61db8751e298d9ad108b3ce6'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}
{'_id': ObjectId('61db9d5ac5ba8e6b82df6be9'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('61db9de9c5ba8e6b82df6bea'), 'author': 'Tom', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bec'), 'number': 0}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bed'), 'number': 1}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bee'), 'number': 2}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bef'), 'number': 3}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf0'), 'number': 4}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf1'), 'number': 5}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf2'), 'number': 6}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf3'), 'number': 7}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf4'), 'number': 8}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf5'), 'number': 9}

In [31]:
# 나이가 20살인 documnet 조회
for i in collect.find({"age":20}):
    print(i)

{'_id': ObjectId('61d7bcec76d21093b0ac880e'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}

In [32]:
for i in collect.find({"age":{"$gte":23}}):
    print(i)

{'_id': ObjectId('61d7bcec76d21093b0ac880f'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}
{'_id': ObjectId('61d7bcec76d21093b0ac8810'), 'name': 'David', 'age': 23.0, 'score': 20.0}

In [36]:
# 개별로 조회할 때
print(collect.find_one())
print(collect.find_one({"age":{"$gte":23}}))
conn.close()

{'_id': ObjectId('61d7bcec76d21093b0ac880d'), 'name': 'Abet', 'age': 19.0, 'score': 10.0}
{'_id': ObjectId('61d7bcec76d21093b0ac880f'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}

In [37]:
#### 4. 수정

conn = MongoClient("127.0.0.1", 27017)
dbname = conn.test
collect = dbname.people

In [38]:
print(collect.find_one({"author":"Tom"}))

{'_id': ObjectId('61db9de9c5ba8e6b82df6bea'), 'author': 'Tom', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}

In [42]:
# 'text' : 'my first blog post!'를 'my second blog post!'로

collect.update_one({'author' : 'Tom'}, {"$set" : {"text" : "my second blog post!"}})

In [43]:
print(collect.find_one({"author":"Tom"}))

{'_id': ObjectId('61db9de9c5ba8e6b82df6bea'), 'author': 'Tom', 'text': 'my second blog post!', 'tag': ['mongodb', 'python']}

In [44]:
collect.delete_one({"author":"tom"})

In [45]:
for i in collect.find():
    print(i)

{'_id': ObjectId('61d7bcec76d21093b0ac880d'), 'name': 'Abet', 'age': 19.0, 'score': 10.0}
{'_id': ObjectId('61d7bcec76d21093b0ac880e'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('61d7bcec76d21093b0ac880f'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}
{'_id': ObjectId('61d7bcec76d21093b0ac8810'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('61db8751e298d9ad108b3ce6'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}
{'_id': ObjectId('61db9d5ac5ba8e6b82df6be9'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('61db9de9c5ba8e6b82df6bea'), 'author': 'Tom', 'text': 'my second blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bec'), 'number': 0}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bed'), 'number': 1}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bee'), 'number': 2}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bef'), 'number': 3}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf0'), 'number': 4}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf1'), 'number': 5}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf2'), 'number': 6}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf3'), 'number': 7}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf4'), 'number': 8}
{'_id': ObjectId('61dba0efc5ba8e6b82df6bf5'), 'number': 9}